# Maven
target/
*.log

# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Test Output
test-output/
reports/
logs/
screenshots/
videos/

# Drivers (optional)
*.exe
.vscode/
